<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AtisMosGateway.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <AtisMosGateway.Properties.Settings>
            <setting name="newsroom_url" serializeAs="String">
                <value>http://172.20.99.21/newsroom/mos/</value>
            </setting>
            <setting name="prompter_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="xpression_ip" serializeAs="String">
                <value>172.20.12.102</value>
            </setting>
            <setting name="evs_ip" serializeAs="String">
                <value />
            </setting>
        </AtisMosGateway.Properties.Settings>
    </userSettings>
</configuration>
